<!DOCTYPE html>
<html>
    <head>
        <title>disease predictor app</title>
        <style>
          body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: powderblue;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
          }
      
          form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
          }
      
          label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            color: #333;
          }
      
          .checkbox-container {
            max-height: 150px;
            overflow-y: auto;
          }
      
          input[type="checkbox"] {
            margin-bottom: 5px;
          }
      
          .error-message {
            color: red;
            margin-top: 10px;
          }
      
          input[type="submit"] {
            background-color: #4caf50;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
          }
      
          input[type="submit"]:hover {
            background-color: #45a049;
          }
          .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            z-index: 1;
          }

          .modal-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            text-align: center;
          }

          .close {
            cursor: pointer;
            font-size: 20px;
            color: #aaa;
            position: absolute;
            top: 10px;
            right: 15px;
          }

          .close:hover {
            color: #333;
          }
        </style>
        <meta charset="UTF-8">
        <meta name="author" content="Kuldip Shaw">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
       
          <form id="myForm" action="/submit" method="post" onsubmit="submitForm(event)">
            <label>Select symptoms:</label>
        
            <div class="checkbox-container" id="checkboxContainer"></div>
            <div id="error-message" class="error-message"></div>
        
            <br>
        
            <input type="submit" value="Submit">
            <script>
              document.addEventListener('DOMContentLoaded', function() {
                var checkboxContainer = document.getElementById('checkboxContainer');
        
                // Replace the following symptoms with your actual values
                var symptoms =['itching', 'skin rash', 'nodal skin eruptions',
       'continuous sneezing', 'shivering', 'chills', 'joint pain',
       'stomach pain', 'acidity', 'ulcers on tongue', 'muscle wasting',
       'vomiting', 'burning micturition', 'spotting urination', 'fatigue',
       'weight gain', 'anxiety', 'cold hands and feets', 'mood swings',
       'weight loss', 'restlessness', 'lethargy', 'patches in throat',
       'irregular sugar level', 'cough', 'high fever', 'sunken eyes',
       'breathlessness', 'sweating', 'dehydration', 'indigestion',
       'headache', 'yellowish skin', 'dark urine', 'nausea',
       'loss of appetite', 'pain behind the eyes', 'back pain',
       'constipation', 'abdominal pain', 'diarrhoea', 'mild fever',
       'yellow urine', 'yellowing of eyes', 'acute liver failure',
       'fluid overload', 'swelling of stomach', 'swelled lymph nodes',
       'malaise', 'blurred and distorted vision', 'phlegm',
       'throat irritation', 'redness of eyes', 'sinus pressure',
       'runny nose', 'congestion', 'chest pain', 'weakness in limbs',
       'fast heart rate', 'pain during bowel movements',
       'pain in anal region', 'bloody stool', 'irritation in anus',
       'neck pain', 'dizziness', 'cramps', 'bruising', 'obesity',
       'swollen legs', 'swollen blood vessels', 'puffy face and eyes',
       'enlarged thyroid', 'brittle nails', 'swollen extremeties',
       'excessive hunger', 'extra marital contacts',
       'drying and tingling lips', 'slurred speech', 'knee pain',
       'hip joint pain', 'muscle weakness', 'stiff neck',
       'swelling joints', 'movement stiffness', 'spinning movements',
       'loss of balance', 'unsteadiness', 'weakness of one body side',
       'loss of smell', 'bladder discomfort', 'foul smell ofurine',
       'continuous feel of urine', 'passage of gases', 'internal itching',
       'toxic look (typhos)', 'depression', 'irritability', 'muscle pain',
       'altered sensorium', 'red spots over body', 'belly pain',
       'abnormal menstruation', 'dischromic patches',
       'watering from eyes', 'increased appetite', 'polyuria',
       'family history', 'mucoid sputum', 'rusty sputum',
       'lack of concentration', 'visual disturbances',
       'receiving blood transfusion', 'receiving unsterile injections',
       'coma', 'stomach bleeding', 'distention of abdomen',
       'history of alcohol consumption', 'blood in sputum',
       'prominent veins on calf', 'palpitations', 'painful walking',
       'pus filled pimples', 'blackheads', 'scurring', 'skin peeling',
       'silver like dusting', 'small dents in nails',
       'inflammatory nails', 'blister', 'red sore around nose',
       'yellow crust ooze', 'prognosis']
        
                for (var i = 0; i < symptoms.length; i++) {
                  var checkbox = document.createElement('input');
                  checkbox.type = 'checkbox';
                  checkbox.name = 'symptoms[]';
                  checkbox.value = symptoms[i];
                  checkbox.id = 'checkbox' + i;
        
                  var label = document.createElement('label');
                  label.htmlFor = 'checkbox' + i;
                  label.appendChild(document.createTextNode(symptoms[i]));
        
                  checkboxContainer.appendChild(checkbox);
                  checkboxContainer.appendChild(label);
                  checkboxContainer.appendChild(document.createElement('br'));
                }
              });
        
              function validateForm() {
                var checkboxes = document.querySelectorAll('input[name="symptoms[]"]:checked');
                var selectedSymptoms = Array.from(checkboxes).map(checkbox => checkbox.value);
                var maxAllowedOptions = 17;
        
                if (selectedSymptoms.length > maxAllowedOptions) {
                  var errorDiv = document.getElementById('error-message');
                  errorDiv.textContent = 'Please select at most ' + maxAllowedOptions + ' options.';
                  return false;
                }
                if (selectedSymptoms.length === 0) {
                  var errorDiv = document.getElementById('error-message');
                  errorDiv.textContent = 'Please select at least one' + ' options.';
                  return false;
                }
        
                // Clear any previous error message
                var errorDiv = document.getElementById('error-message');
                errorDiv.textContent = '';
        
                // Do something with the selected symptoms, e.g., print them to the console
                
        
                // You can also send the values to the server or perform other actions as needed
        
                return true; // Allow the form to be submitted
              }
              function submitForm(event) {
                event.preventDefault(); // Prevent the default form submission

                // Perform any pre-submission actions here

                // Serialize form data
                var valid=validateForm()
                if (valid) {
                  var form = document.getElementById('myForm');
                  var formData = new FormData(form);

                  // Make an asynchronous request to the server
                  fetch('/submit', {
                    method: 'POST',
                    body: formData,
                  })
                  .then(response => response.json())
                  .then(data => {
                    // Handle the response data here, you can call a function or perform actions
                    openModal(data);
                  })
                  .catch(error => {
                    console.error('Error:', error);
                    // Handle errors
                  });
                }
              }

            </script>
          </form>
          <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close" onclick="closeModal()">&times;</span>
              <p id="modalMessage"></p>
            </div>
          </div>
          
          <script>
            function openModal(responseMessage) {
              var modal = document.getElementById('myModal');
              var modalMessage = document.getElementById('modalMessage');
          
              modalMessage.textContent = responseMessage;
              modal.style.display = 'flex';
            }
          
            function closeModal() {
              var modal = document.getElementById('myModal');
              modal.style.display = 'none';
            }
          </script>
          
         
    </body>

</html>